* {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    background-color: black;
    color: white;
}

.logo img {
    width: 100%;
    height: auto;
}

.intro {
    display: flex;
    flex-direction: row;
    background-color: black;
}

section h1{
    color: white;
}

.intro img{
    width: 100%;
    height: auto;
}