* {
    color: white;
}

body {
    background-color: black;
}

.top {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 50%;
}

.top {
    display: flex;
    justify-content: space-evenly;

}

.logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
}

section .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

section h1 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 300px;
}

.mac-image {
    display: flex;
    background-image: url("./images/mac-bckg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

nav div {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}