* {
    color: white;
}

body {
    background-color: black;
}

.top {
    display: flex;
    flex-direction: row;
}

.line-top {
    color: white;
    width: 40%;
}

.line-nav {
    color: white;
    width: 70%;
    margin-bottom: 40px;
}

.line-intro {
    color: white;
    width: 90%;
    margin-top: 40px;
}

.line-projects {
    color: white;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 50%;
}

.top {
    display: flex;
    justify-content: space-evenly;

}

.logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
}

section .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

section h1 {
    color: white;

}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration-line: underline;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.name {
    padding-top: 25%; 
    height: 300px;  
}

.mac-image {
    display: flex;
    background-image: url("./images/mac-bckg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

nav div {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

div .intro-text{ 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    height: 500px;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: grey;
    height: 350px;
    width: 350px;
    border: 2px solid white;
    margin: 0 auto;
}

.nology-pic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin: 0 auto;
    background-image: url(./images/About\ Me\ Pic.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}